.pagination {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    margin: 25px 10px;
}

.active {
    background-color: #1677ff;
    color: white;
    border: none;
}
.pagination_item, 
.pagination_first,
.pagination_prev,
.pagination_next,
.pagination_last,
.pagination_ellipsis  {
    width: 35px;
    height: 35px;
    border: #ececec 1px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination_item:hover, 
.pagination_first:hover,
.pagination_prev:hover,
.pagination_next:hover,
.pagination_last:hover,
.pagination_ellipsis:hover  {
    transform: scale(110%);
}