.pagination {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.active {
    background-color: black;
    color: white;
}
.pagination_item, 
.pagination_first,
.pagination_prev,
.pagination_next,
.pagination_last,
.pagination_ellipsis  {
    width: 35px;
    height: 35px;
    border: #ececec 1px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pagination_first {

}
.pagination_prev {

}
.pagination_next {

}
.pagination_last {

}
.pagination_ellipsis {

}